<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>WordPress REST API</title>

	<link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
	<link href="styles/milligram.min.css" rel="stylesheet">
	<link href="styles/style.css" rel="stylesheet">

	<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>

</head>

<body>
	<div id="loader">
		<div class="loader__content">LOADING...</div>
	</div>

	<div class="bg-img"></div>

	<div id="app" class="container">
		<div class="row">
			<div class="column column-50">
				<router-link to="/"><h1>Matt Cos</h1></router-link>
			</div>

			<div class="column">
				<router-link to="/about">About</router-link>
			</div>

			<div class="column">
				<router-link to="/user/test">Test</router-link>
			</div>

			<div class="column">
				<router-link to="/user/Matt Cos">Matt</router-link>
			</div>
		</div>

		<router-view></router-view>

		<!-- <blog-post
			v-for="post in posts"
			v-bind:key="post.id"
			v-bind:title="post.text"
		></blog-post> -->

		<!-- <blog-post
			v-for="todo in todos"
			v-bind:key="todo.id"
			v-bind:title="todo.text"
		></blog-post> -->

		<!-- <post-list></post-list> -->

		<span v-for="todo in todos" v-html="todo.text"></span>
		<span v-for="post in posts" v-html="post.text"></span>
	</div>

	<script src="scripts.js"></script>
</body>

</html>
